$main-color: #6BD8FD;

$accent: #2394FD;
$accent-placeholder: lighten($accent, 0.75);
$blue-name: rgba(#1B8CF5, 0.85);
$blue-name--sub: #005BFF;
$shadow: #004DD8;

$black: #151515;
$grey: #808191;
$grey-lighten: #EEE9FC;
$white: #FFFFFF;

$green: #2CEF34;
$green-btn: #96FF43;
$green-transparent-stamp: rgba($green-btn, 0.92);
$green-checkbox: rgba($green-btn, 0.40);

$star: #EBEF2C;
